@keyframes toastShow {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes toastHidden {
    from {
        transform: translateX(0);
        opacity: 100;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
