@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@keyframes toastShow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toastHidden {
  from {
    transform: translateX(0);
    opacity: 100;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes menu-item-hover {
  0% {
    left: 0;
    right: -100;
  }
  100% {
    left: 0;
    right: 0;
  }
}
#menu-left {
  background-color: #273a49;
}
#menu-left .main-menu .item {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#menu-left .main-menu .item.active {
  border-left: 5px solid #8ddad5;
}
#menu-left .main-menu .item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#menu-left .main-menu .item .btn-menu {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#menu-left .main-menu .item .btn-menu .icon-arrow {
  margin-left: auto;
}
#menu-left .main-menu .item .sub-menu {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  height: 0;
}
#menu-left .main-menu .item .sub-menu a.active,
#menu-left .main-menu .item .sub-menu a:hover {
  color: #8ddad5;
}
#menu-left .main-menu .item .sub-menu.show {
  visibility: visible;
  height: 100%;
  gap: 0.4rem;
  margin-top: 0.7rem;
  margin-left: 1.4rem;
  font-size: 0.8rem;
}

#menu-left {
  max-width: 250px;
  width: 250px;
}

.admin-container.container {
  max-width: calc(100% - 250px);
  width: calc(100% - 250px);
  margin-left: 250px;
  padding: 1rem;
}
.admin-container.container table tr th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.admin-container.container table tr td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}
.admin-container.container table tr .btn-function i + i,
.admin-container.container table tr .btn-function a + a {
  margin-left: 0.3rem;
}
.admin-container.container .form-group input + input {
  margin-top: 0.5rem;
}
.admin-container.container .form-group input.disabled {
  background-color: #6c757d;
}
.admin-container.container .modal {
  display: none;
}
.admin-container.container .modal.show {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.admin-container.container .modal-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.admin-container.container .modal-button .icon-close {
  display: block;
  cursor: pointer;
}
.admin-container.container .modal-container {
  width: 700px;
  height: auto;
  max-height: 80vh;
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem 1.5rem;
}
.admin-container.container .container-toast {
  position: absolute;
  bottom: 20px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}
.admin-container.container .container-toast .toast {
  display: none;
  border-radius: 5px;
  width: 300px;
  padding: 0.7rem;
  transform: translateX(100%);
  background-color: #fff;
}
.admin-container.container .container-toast .toast.show {
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  transform: translateX(0);
  animation-name: toastShow;
  animation-duration: 0.25s;
}
.admin-container.container .container-toast .toast.toast-success {
  color: #28a745;
  border: 1px solid rgba(40, 167, 69, 0.3);
}
.admin-container.container .container-toast .toast.toast-danger {
  color: rgb(235, 14, 14);
  border: 1px solid rgba(235, 14, 14, 0.3);
}
.admin-container.container .container-toast .toast .icon-close {
  margin-left: auto;
  cursor: pointer;
}
.admin-container.container #toast-success {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 2px;
  right: 10px;
}
.admin-container.container #toast-success.show {
  opacity: 100;
  visibility: visible;
}
.admin-container.container .paginate .active > span {
  background-color: #007bff;
  color: #fff;
}
.admin-container.container .preview-product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
}
.admin-container.container .preview-product .product-name {
  font-weight: bold;
  text-transform: uppercase;
  color: #007bff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.admin-container.container .preview-product .product-image {
  position: relative;
  width: 300px;
  height: 300px;
  background-position: center;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.admin-container.container .preview-product .product-image::before {
  content: "Hình ảnh";
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  inset: 0;
}
.admin-container.container .preview-product .product-price {
  color: rgb(235, 14, 14);
}

.container.client {
  background-color: rgba(252, 246, 237, 0.3);
}
.container .navbar {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 4rem;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  z-index: 10;
}
.container .navbar.active {
  background-color: rgba(0, 0, 0, 0.8);
}
.container .navbar .logo-container .brand-name {
  font-family: "Courgette", cursive;
  font-size: 2em;
}
.container .navbar .menu-container .menu {
  text-transform: uppercase !important;
  display: flex;
  gap: 2.5rem;
}
.container .navbar .menu-container .menu .menu-item {
  position: relative;
}
.container .navbar .menu-container .menu .menu-item:hover, .container .navbar .menu-container .menu .menu-item.active {
  transition: all 0.25s ease-in-out;
}
.container .navbar .menu-container .menu .menu-item:hover .menu-link::before, .container .navbar .menu-container .menu .menu-item.active .menu-link::before {
  content: "";
  position: absolute;
  display: block;
  margin-bottom: -0.4rem;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #fff;
  animation: menu-item-hover 0.25s;
}
.container .navbar .call-now a {
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-transform: uppercase;
}
.container .navbar .call-now a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.container .banner {
  margin-top: -4rem;
  width: 100%;
  height: 500px;
}
.container .banner .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.container .about-picture {
  width: 100%;
  height: 500px;
  margin-left: auto;
}
.container .about-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.container .about .about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.container .about .about-content .title {
  font-family: "Pattaya", sans-serif;
  font-size: 2rem;
  color: #28a745;
}
.container .about .about-content .content {
  font-size: 1.1rem;
  text-align: justify;
}
.container .about .about-content .btn-readmore {
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
}
.container .product-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem;
}
.container .product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
.container .product-image img {
  border-radius: 5px;
}
.container .product-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #28a745;
}
.container .product-price {
  color: rgb(235, 14, 14);
}
.container .product .btn-addcart {
  padding: 0.5rem 0.7rem;
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
}
.container .category-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem;
}
.container .category-container {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.container .category-container .category-image img {
  border-radius: 5px;
}
.container .category-container .category-showmore {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  transition: all 0.25s ease-in-out;
}
.container .category-container .category-showmore:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.container .category-container .category-showmore .category-title {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.container .category-container .category-showmore .btn-addcart {
  padding: 0.5rem 0.7rem;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.container .category-container .category-showmore .btn-addcart:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}
.container footer .brand-name {
  font-family: "Courgette", cursive;
  font-size: 2em;
  color: #28a745;
}
.container footer .social a {
  font-size: 1.5rem;
  transition: all 0.25s ease-in-out;
}
.container footer .social a:hover {
  color: #28a745;
}
.container footer .social a + a {
  margin-left: 0.7rem;
}
.container footer .address p + p {
  margin-top: 0.5rem;
}

/*# sourceMappingURL=index.css.map */
