@charset "UTF-8";
@keyframes toastShow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toastHidden {
  from {
    transform: translateX(0);
    opacity: 100;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
#menu-left {
  background-color: #273a49;
}
#menu-left .main-menu .item {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#menu-left .main-menu .item.active {
  border-left: 5px solid #8ddad5;
}
#menu-left .main-menu .item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#menu-left .main-menu .item .btn-menu {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#menu-left .main-menu .item .btn-menu .icon-arrow {
  margin-left: auto;
}
#menu-left .main-menu .item .sub-menu {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  height: 0;
}
#menu-left .main-menu .item .sub-menu a.active,
#menu-left .main-menu .item .sub-menu a:hover {
  color: #8ddad5;
}
#menu-left .main-menu .item .sub-menu.show {
  visibility: visible;
  height: 100%;
  gap: 0.4rem;
  margin-top: 0.7rem;
  margin-left: 1.4rem;
  font-size: 0.8rem;
}

#menu-left {
  max-width: 250px;
  width: 250px;
}

.container {
  max-width: calc(100% - 250px);
  width: calc(100% - 250px);
  margin-left: 250px;
  padding: 1rem;
}
.container table tr th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container table tr td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}
.container table tr .btn-function i + i {
  margin-left: 0.3rem;
}
.container .form-group input + input {
  margin-top: 0.5rem;
}
.container .form-group input.disabled {
  background-color: #6c757d;
}
.container .modal {
  display: none;
}
.container .modal.show {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.container .modal-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.container .modal-button .icon-close {
  display: block;
  cursor: pointer;
}
.container .modal-container {
  width: 700px;
  height: auto;
  max-height: 80vh;
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem 1.5rem;
}
.container .container-toast {
  position: absolute;
  bottom: 20px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}
.container .container-toast .toast {
  display: none;
  border-radius: 5px;
  width: 300px;
  padding: 0.7rem;
  transform: translateX(100%);
  background-color: #fff;
}
.container .container-toast .toast.show {
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  transform: translateX(0);
  animation-name: toastShow;
  animation-duration: 0.25s;
}
.container .container-toast .toast.toast-success {
  color: #28a745;
  border: 1px solid rgba(40, 167, 69, 0.3);
}
.container .container-toast .toast.toast-danger {
  color: rgb(235, 14, 14);
  border: 1px solid rgba(235, 14, 14, 0.3);
}
.container .container-toast .toast .icon-close {
  margin-left: auto;
  cursor: pointer;
}
.container #toast-success {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 2px;
  right: 10px;
}
.container #toast-success.show {
  opacity: 100;
  visibility: visible;
}
.container .paginate .active > span {
  background-color: #007bff;
  color: #fff;
}
.container .preview-product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
}
.container .preview-product .product-name {
  font-weight: bold;
  text-transform: uppercase;
  color: #007bff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.container .preview-product .product-image {
  position: relative;
  width: 300px;
  height: 300px;
  background-position: center;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.container .preview-product .product-image::before {
  content: "Hình ảnh";
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  inset: 0;
}
.container .preview-product .product-price {
  color: rgb(235, 14, 14);
}

/*# sourceMappingURL=index.css.map */
